/* 메인 카드 레이아웃 */
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    background-repeat: repeat;
    min-height: 1280px;
}

.mainContent {
    padding: 20px;
    margin: 0 auto;
    width: 1200px;

    background-color: #ffffff;
    min-height: 100%;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* ✅ 한 줄에 5개씩 */
    gap: 20px; /* 카드 간격 */
    padding: 20px;
}

.backendMsg {
    margin-top: 50px;
}