.mainContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f2f0;
    background-repeat: repeat;
    min-height: 1280px;
}

.mainContent {
    padding: 20px;
    margin: 0 auto;
    width: 1200px;
    background-color: #f3f2f0;
    min-height: 100%;
}

.posts {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.posts table {
    width: 80%;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.postsHeader {

    border: 1px solid black;
}