.mainContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    background-repeat: repeat;
    min-height: 1280px;
}

.mainContent {
    padding: 20px;
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
    min-height: 100%;
}