.movie-actor {
    color: white;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel {
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    min-width: 100%;
    gap: 10px;
}

.actorList {
    display: flex;
    transition: transform 0.5s ease-in-out; /* 애니메이션 적용 */
    gap: 10px;
}