.movie-review-container {
    margin-top: 100px;
}

.movie-review-info {
    color: white;
    border-top: dashed 2px #e0e0e0;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.movie-reviews {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-sort-tabs {
    display: flex;
}

.review-sort-tabs button {
    padding: 8px 16px;
    border: none;
    background: #f0f0f0;
    margin-right: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.review-sort-tabs .active {
    background: #333;
    color: #fff;
}

.review-card {
    border: solid 1px #4a4a4a;
    border-radius: 15px;
    color: white;
    /* 순서: top right bottom left */
    padding: 15px 15px 15px 20px;
    display: flex;
    gap: 15px;
}

.review-header {
    border: solid 1px #4a4a4a;
    border-radius: 15px;
    background: #171718;
    padding: 15px 15px 15px 15px;
}

.review-content {
    border: solid 1px #4a4a4a;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    background: #171718;
    width: 100%;
}

.star.filled {
    color: #facc15;
}

.comment-write {
    border: solid 1px #4a4a4a;
    border-radius: 15px;
    color: white;
    /* 순서: top right bottom left */
    padding: 15px 15px 15px 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.comment-header {
    border: solid 1px #4a4a4a;
    border-radius: 15px;
    background: #171718;
    padding: 15px 15px 15px 15px;
    width: 70px;
}

.comment-form {
    gap: 8px;
    width: 87%;
    display: flex;
    flex-direction: column;
}

.comment-input {
    resize: none;
    min-height: 70px;
    min-width: 85%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: white;
    font-size: 14px;
    line-height: 1.5;
    transition: border-color 0.3s;
}

.comment-input:focus {
    border-color: #5f5f5e;
    outline: none;
}

.comment-star-button {
    display: flex;
    justify-content: space-between;
}

.comment-submit {
    align-self: flex-end;
    padding: 8px 16px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.star-rating {
    font-size: 25px;
    cursor: pointer;
}

.comment-submit:hover {
    background-color: #ffffff;
    color: black;
}
