.movie-review-container {
    margin-top: 100px;
}

.movie-review-info {
    color: white;
    border-top: dashed 2px #e0e0e0;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.review-sort-tabs {
    display: flex;
}

.review-sort-tabs button {
    padding: 8px 16px;
    border: none;
    background: #f0f0f0;
    margin-right: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.review-sort-tabs .active {
    background: #333;
    color: #fff;
}

.review-card {
    border: solid 1px #4a4a4a;
    border-radius: 15px;
    color: white;
    /* 순서: top right bottom left */
    padding: 15px 15px 15px 20px;
    display: flex;
    gap: 15px;
}

.review-header {
    border: solid 1px #4a4a4a;
    border-radius: 15px;
    background: #171718;
    padding: 15px 15px 15px 15px;
}

.review-content {
    border: solid 1px #4a4a4a;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    background: #171718;
    width: 100%;
}

.star.filled {
    color: #facc15;
}